body{    
    background-color: beige;
}
.mainHeader{
    background-color: rgba(6, 136, 187, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;

}
//Accueil
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainImage{
        height: 20rem;
        width: 100%;
        background-image: url(./img/depositphotos_5874732-stock-illustration-man-cleaning-window-squeegee-spray.jpg);
        background-size: cover;
        background-repeat: none;
        @media screen and (min-width:783px) {
            width: 30rem;
        }
        
    }
    .mainButton{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3rem;
        gap: 3rem;
        height: 10rem;

        .ant-btn-primary{
            border-radius: 3rem;
            height: 5rem;
            width: 25rem;
            font-size: 2rem;

        }
    }
}

//NewAvisPassage

.mainForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 3rem;
    }
    .newPassageForm{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-direction: column;

        div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;
            width: 100%;
            
            label{
                font-size: 2rem;
            }
        }
    }
}

.mainDetailAvis{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    h2{
        font-size: 2rem;
        text-decoration: underline;
    }
    span{
        font-size: 1.5rem;
        text-decoration: underline;
        text-align: left;
        font-weight: 900;
    }
    .containerRecap{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    div{
        display: flex;
        flex-direction: column; 
    }
        .detail{
            font-size: 1.2rem;
        }
        
    }
    .return{
        text-decoration: none;
        height: 2rem;
        text-align: left;
        font-size: 1.5rem;
        
    }
}

.listAvisTableau{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
    td,th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    tr:nth-child(even){
        background-color:#f2f2f2;
    }
    th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04aa6d;
        color: white;
    }
}