body{    
    background-color: beige;
}
.mainHeader{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;

}
//Accueil
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainImage{
        height: 20rem;
        width: 100%;
        background-image: url(./img/depositphotos_5874732-stock-illustration-man-cleaning-window-squeegee-spray.jpg);
        background-repeat: none;
        background-size: cover;
        
    }
    .mainButton{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 3rem;
        gap: 3rem;
        height: 10rem;

        .ant-btn-primary{
            border-radius: 3rem;
            height: 5rem;
            width: 25rem;
            font-size: 2rem;

        }
    }
}

//NewAvisPassage

.mainForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 3rem;
    }
    .newPassageForm{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        flex-direction: column;

        div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;
            width: 100%;
            
            label{
                font-size: 2rem;
            }
        }
    }
}